@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: rgb(185,164,253);
  background: linear-gradient(90deg, rgba(185,164,253,1) 0%, rgba(250,203,239,1) 100%);
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}