.card-home{
    position:flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    border-radius: 16px;
  }

.card-progress{
    height: 100%;
    width: 100%;
    position:flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.card-mid{
    height: 100%;
    width: 100%;
    margin: 5%;
}

.glass-bg-home{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 71px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
}

.sidebar {
    background: rgba(255, 255, 255, 0.623);
    border-radius: 71px;
    height: 100%;
    
}

.sidebar .link {
    padding: 15px 5px 15px 10px;
    display: block;
    width: 100%;
    font-size: 12px;
    transition: all 0.5s ease;
  }
  
  .sidebar .link:hover {
    text-decoration: none;
    background: rgba(231, 220, 255, 0.65);
    color: rgba(207, 54, 54, 0.62);
  }

.sidebar  svg {
    display: inline-block;
    margin-left: 25px;
    color:#414141;
    transition: all 0.5s ease;
}
    .sidebar .link:hover svg {
        color: #8156DD;
    }


.sidebar span {
    font-size: 15px;
    font-weight: 600;   
    letter-spacing: -0.011em;
    color: rgba(91, 91, 91, 0.62);
    transition: all 0.5s ease;
}
    .sidebar .link:hover span{
    color: rgba(173, 137, 251, 1)
}
  
.logo{
    width:80%;
    margin: auto;
}

.bg-images {
    position: fixed;
    pointer-events: none;
    min-width: 105%;
}

.ellipse-1{
    top: -30%;
}

.ellipse-2{
   bottom: 0;
}

.bg-rectangles{
    left: 0;
    top: -20%;
    min-height: 120%;
}