.glass-bg-home{
    margin: 5%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.glass-bg-dashboard{
    margin:3%;
    height: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.72);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.62);
}

.glass-bg-progress{
    margin: 15%;
    height: 40%;
    width: 80%;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.66);
}

.glass-bg{
    height: 500px;
    width: 100%;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.66);
}

.dashboard-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-logo{
    width: 20px;
    height: 20px;
}


.svg{
    display: inline-block;
    margin: 5%;
    fill: #414141;
    color: #414141;
    font-size: 30px;
}

.dashboard-text{
    font-family: 'Inter', sans-serif;
}