.glass-bg-home{
    margin: 5%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.glass-bg-dashboard{
    margin:3%;
    height: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.72);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.62);
}

.glass-bg-progress{
    margin: 5%;
    height: 40%;
    width: 75%;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.66);
}

.glass-bg{
    height: 500px;
    width: 100%;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.66);
}

.dashboard-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-logo{
    width: 20px;
    height: 20px;
}


.svg{
    display: inline-block;
    margin: 5%;
    fill: #414141;
    color: #414141;
    font-size: 30px;
}

.text{
    font-family: 'Inter', sans-serif;
    color: rgba(91, 91, 91, 0.62);
    line-height: 20px;
    font-weight: 600;
    /* identical to box height, or 91% */
    font-size: 22px;
    letter-spacing: -0.011em;
}

.welcome-text-heading{
    margin-left: 5%;
    margin-top: 5%;
    display:flex;
    font-size: 30px;
    line-height: 44px;
    color: #5B5B5B;
}

.welcome-text-content{
    margin-left: 5%;
}

.heading-streaks{
    margin: 5%;
    width: 201px;
    height: 36px;
    left: 435px;
    top: 311px;
    font-size: 24px;
    line-height: 29px;
    color: #5F5F5F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.div-center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-streak-container{
    position: relative;
}

.svg-streaks{
    height: 130px;
    width: 130px;
    fill: #FFF1CD;
    color: #FFE5A1;
}
.svg-streaks-logo-text{
    position:absolute;
    top: 0;
    left: 0;
    transform: translate(50%, -50%);
    z-index: 2;
}

.svg-streaks-text{
    font-weight: 500;
    font-size: 19px;
    line-height: 20px;
    /* identical to box height, or 105% */

    letter-spacing: -0.011em;

    color: #292929;
}